body,html {
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background: #fff;
                color: #1e2a2d;
                font-family: acumin-pro,sans-serif;
                font-size: 16px;
                font-weight: 400;
                height: 100%;
                letter-spacing: .01em;
                line-height: 1.5;
                margin: 0;
                padding: 0
            }

            @media only screen and (min-width: 768px) {
                body,html {
                    line-height:1.7777777778em
                }
            }

            .text--scalable {
                font-size: .9375rem
            }

            .text--uppercase {
                text-transform: uppercase
            }

            .button,.text--button,button.button {
                font-size: 16px;
                font-weight: 600;
                text-transform: uppercase
            }

            .text--deck {
                font-size: calc(1.275rem + .3vw)
            }

            @media(min-width: 1200px) {
                .text--deck {
                    font-size:1.5rem
                }
            }

            .text--mice {
                font-size: 14px
            }

            .text--align-left {
                text-align: left
            }

            .text--align-right {
                text-align: right
            }

            .text--align-center {
                text-align: center
            }

            #__layout,#__nuxt {
                height: 100%
            }

            ::selection {
                background: #fbbf24;
                color: #fff
            }

            ::-moz-selection {
                background: #fbbf24;
                color: #fff
            }

            .container {
                box-sizing: border-box;
                margin: 0 auto;
                max-width: 1520px;
                width: 90vw
            }

            @media only screen and (min-width: 768px) {
                .container {
                    max-width:1520px
                }
            }

            .container .container {
                max-width: 1520px;
                padding: 0
            }

            .container--no-pad {
                padding: 0
            }

            .container--large {
                max-width: 1520px
            }

            @media only screen and (min-width: 768px) {
                .container--large {
                    max-width:1520px
                }
            }

            .container--small {
                max-width: 600px
            }

            @media only screen and (min-width: 768px) {
                .container--small {
                    max-width:600px
                }
            }

            .h--0,.h--1,.h--2,.h--3,.h--4,.h--5,.h--6,.h--adopt .h--1,.h--adopt .h--2,.h--adopt .h--3,.h--adopt .h--4,.h--adopt .h--5,.h--adopt .h--6,.h--adopt h1,.h--adopt h2,.h--adopt h3,.h--adopt h4,.h--adopt h5,.h--adopt h6,h1,h2,h3,h4,h5,h6 {
                font-family: acumin-pro,sans-serif;
                font-weight: 700;
                margin: 0 0 10px
            }

            .bard-text .h--0,.bard-text .h--1,.bard-text .h--2,.bard-text .h--3,.bard-text .h--4,.bard-text .h--5,.bard-text .h--6,.bard-text h1,.bard-text h2,.bard-text h3,.bard-text h4,.bard-text h5,.bard-text h6,.special-text .h--0,.special-text .h--1,.special-text .h--2,.special-text .h--3,.special-text .h--4,.special-text .h--5,.special-text .h--6,.special-text h1,.special-text h2,.special-text h3,.special-text h4,.special-text h5,.special-text h6 {
                margin-bottom: .5em;
                margin-top: 0
            }

            .h--0:last-child,.h--1:last-child,.h--2:last-child,.h--3:last-child,.h--4:last-child,.h--5:last-child,.h--6:last-child,h1:last-child,h2:last-child,h3:last-child,h4:last-child,h5:last-child,h6:last-child {
                margin-bottom: 0
            }

            .h--0 {
                font-size: calc(1.725rem + 5.7vw);
                line-height: 1em
            }

            @media(min-width: 1200px) {
                .h--0 {
                    font-size:6rem
                }
            }

            .bard-text .h--0,.special-text .h--0 {
                margin-bottom: .3em
            }

            .h--1,.h--adopt .h--1,.h--adopt h1 {
                font-size: calc(1.575rem + 3.9vw);
                line-height: 1em
            }

            @media(min-width: 1200px) {
                .h--1,.h--adopt .h--1,.h--adopt h1 {
                    font-size:4.5rem
                }
            }

            .h--2,.h--adopt .h--2,.h--adopt h2 {
                font-size: calc(1.375rem + 1.5vw);
                line-height: 1.11em
            }

            @media(min-width: 1200px) {
                .h--2,.h--adopt .h--2,.h--adopt h2 {
                    font-size:2.5rem
                }
            }

            .h--3,.h--adopt .h--3,.h--adopt h3 {
                font-size: calc(1.275rem + .3vw);
                line-height: 1.333em
            }

            @media(min-width: 1200px) {
                .h--3,.h--adopt .h--3,.h--adopt h3 {
                    font-size:1.5rem
                }
            }

            @media only screen and (min-width: 768px) {
                .h--3,.h--adopt .h--3,.h--adopt h3 {
                    line-height:1.1em
                }
            }

            .h--4,.h--adopt .h--4,.h--adopt h4 {
                font-size: calc(1.275rem + .3vw);
                font-weight: 400
            }

            @media(min-width: 1200px) {
                .h--4,.h--adopt .h--4,.h--adopt h4 {
                    font-size:1.5rem
                }
            }

            .h--5,.h--adopt .h--5,.h--adopt h5 {
                font-family: acumin-pro,sans-serif;
                font-size: calc(1.275rem + .3vw);
                font-weight: 400;
                letter-spacing: .05em;
                line-height: 1.4em
            }

            @media(min-width: 1200px) {
                .h--5,.h--adopt .h--5,.h--adopt h5 {
                    font-size:1.5rem
                }
            }

            .h--6,.h--adopt .h--6,.h--adopt h6 {
                font-family: acumin-pro,sans-serif;
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: .05em;
                line-height: 1.4em
            }

            .h--7 {
                font-family: acumin-pro,sans-serif;
                font-size: calc(1.675rem + 5.1vw);
                font-weight: 700;
                line-height: 1em
            }

            @media(min-width: 1200px) {
                .h--7 {
                    font-size:5.5rem
                }
            }

            .h--7 i {
                font-weight: 400
            }

            .text--scalable .h--7 {
                font-size: 5.7894736842em
            }

            hr {
                border: none;
                border-bottom: 2px solid #fbbf24;
                margin: 25px 0
            }

            .bard-text ul {
                margin: 1.77777em 0
            }

            .bard-text ul:first-child {
                margin-top: 0
            }

            .bard-text ul:last-child {
                margin-bottom: 0
            }

            .column-content ul {
                padding-left: 20px
            }

            .bard-text ul li {
                margin: 4px 0
            }

            .bard-text ul li:first-child {
                margin-top: 0
            }

            .bard-text ul li:last-child {
                margin-bottom: 0
            }

            .ul--reset {
                list-style: none
            }

            .ul--reset,.ul--reset li {
                margin: 0;
                padding: 0
            }

            p {
                font-size: 16px;
                margin: 0 0 10px
            }

            .bard-text p,.special-text p {
                line-height: 1.7777777778em;
                margin: 1.77777em 0
            }

            .bard-text p:first-child,.special-text p:first-child {
                margin-top: 0
            }

            .bard-text p:last-child,.special-text p:last-child {
                margin-bottom: 0
            }

            @media only screen and (min-width: 768px) {
                p {
                    font-size:18px
                }
            }

            p:last-child {
                margin-bottom: 0
            }

            .bard-text p a,.special-text p a,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
                color: #5c9cd1
            }

            figure {
                margin: 0
            }

            blockquote {
                border-left: 9px solid #fbbf24;
                font-size: calc(1.325rem + .9vw);
                margin-left: 0;
                padding-left: 1em
            }

            @media(min-width: 1200px) {
                blockquote {
                    font-size:2rem
                }
            }

            blockquote p {
                font-size: 1em!important;
                line-height: 1.25!important
            }

            @media only screen and (min-width: 768px) {
                blockquote {
                    margin:2.2em 0 2.2em 1.25em;
                    padding-left: 1.25em
                }
            }

            .bard-text table {
                border-collapse: collapse;
                margin: 1.77777em 0;
                table-layout: fixed;
                width: 100%
            }

            .bard-text table:first-child {
                margin-top: 0
            }

            .bard-text table:last-child {
                margin-bottom: 0
            }

            .bard-text table th {
                background-color: #ecf1f2
            }

            .bard-text table td,.bard-text table th {
                border: 1px solid #a4b1bb;
                padding: 2px 12px
            }

            .bard-text table td p,.bard-text table th p {
                line-height: 1.2em;
                padding: .25em 0
            }

            button {
                -webkit-font-smoothing: inherit;
                -moz-osx-font-smoothing: inherit;
                -webkit-appearance: none;
                background: transparent;
                border: none;
                color: inherit;
                font-size: 1em;
                font: inherit;
                line-height: normal;
                margin: 0;
                outline: none;
                overflow: visible;
                padding: 0;
                width: auto
            }

            button::-moz-focus-inner {
                border: 0;
                padding: 0
            }

            .button,button.button {
                align-items: center;
                box-sizing: border-box;
                color: #1e2a2d;
                cursor: pointer;
                display: inline-flex;
                height: 50px;
                justify-content: center;
                padding: 0 30px;
                -webkit-text-decoration: none;
                text-decoration: none;
                transition: background-color .25s,color .25s
            }

            .button--primary,button.button--primary {
                background-color: #fbbf24
            }

            .button--primary:hover,button.button--primary:hover {
                background-color: #fcce56
            }

            .button--tertiary-dark,button.button--tertiary-dark {
                background-color: #1e2a2d;
                color: #fff
            }

            .button--tertiary-dark:hover,button.button--tertiary-dark:hover {
                background-color: #32474c
            }

            .button--outlined,button.button--outlined {
                border: 2px solid;
                color: #1e2a2d
            }

            .button--outlined:hover,button.button--outlined:hover {
                color: #32474c
            }

            .button *+.breif-case,button.button *+.breif-case {
                margin-left: 5px;
                margin-right: -10px
            }

            .input {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: 1px solid #000;
                border-radius: 0;
                box-sizing: border-box;
                font-size: 18px;
                height: 50px;
                outline: none;
                padding: 0 20px
            }

            .field--error .input,.input--error {
                border-color: #f03;
                color: #f03
            }

            .field--error .input:focus,.input--error:focus {
                color: inherit
            }

            .input--textarea {
                border-radius: 0;
                min-height: 150px;
                padding: 20px
            }

            .input--checkbox {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: 1px solid;
                border-radius: 0;
                color: #000;
                display: inline-block;
                height: 16px;
                outline: none;
                position: relative;
                vertical-align: middle;
                width: 16px
            }

            .input--checkbox:before {
                border: 1px solid;
                border-right: none;
                border-top: none;
                content: "";
                display: block;
                height: 15%;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%,-70%) rotate(-45deg) scale(0);
                transform-origin: center center;
                transition: transform .125s ease-in-out;
                width: 40%
            }

            .input--checkbox:checked:before {
                transform: translate(-50%,-70%) rotate(-45deg) scale(1)
            }

            .input--checkbox.input--error {
                color: #f03
            }

            textarea {
                font-family: inherit
            }

            .select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: 1px solid #000;
                border-radius: 0;
                box-sizing: border-box;
                cursor: pointer;
                font-size: 18px;
                height: 50px;
                outline: none;
                padding: 0 20px
            }

            .field--error .select,.select--error {
                border-color: #f03;
                color: #f03
            }

            .select-wrap {
                cursor: pointer;
                position: relative
            }

            .field--error .select-wrap {
                color: #f03
            }

            .select-wrap:after {
                border: 2px solid;
                border-left: none;
                border-top: none;
                content: "";
                display: block;
                height: 10px;
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-70%) rotate(45deg);
                width: 10px
            }

            :root {
                --color-abs-black: #000;
                --color-black: #1e2a2d;
                --color-white: #fff;
                --color-primary: #fbbf24;
                --color-secondary: #5c9cd1;
                --color-tertiary-light: #ecf1f2;
                --color-tertiary-medium: #486477;
                --color-tertiary-half: #a4b1bb;
                --color-tertiary-dark: #1e2a2d
            }

            .color--abs-black,.color--abs-black-hover:hover {
                color: #000
            }

            .color--black,.color--black-hover:hover {
                color: #1e2a2d
            }

            .color--white,.color--white-hover:hover {
                color: #fff
            }

            .color--primary,.color--primary-hover:hover {
                color: #fbbf24
            }

            .color--secondary,.color--secondary-hover:hover {
                color: #5c9cd1
            }

            .color--tertiary-light,.color--tertiary-light-hover:hover {
                color: #ecf1f2
            }

            .color--tertiary-medium,.color--tertiary-medium-hover:hover {
                color: #486477
            }

            .color--tertiary-half,.color--tertiary-half-hover:hover {
                color: #a4b1bb
            }

            .color--tertiary-dark,.color--tertiary-dark-hover:hover {
                color: #1e2a2d
            }

            .color--error,.color--error-hover:hover {
                color: #f03
            }

            .color--success,.color--success-hover:hover {
                color: #4bb543
            }

            .weight--normal {
                font-weight: 400
            }

            .weight--semibold {
                font-weight: 600
            }

            .weight--bold {
                font-weight: 700
            }

            .background--abs-black,.background--abs-black-hover:hover {
                background-color: #000
            }

            .background--black,.background--black-hover:hover {
                background-color: #1e2a2d
            }

            .background--white,.background--white-hover:hover {
                background-color: #fff
            }

            .background--primary,.background--primary-hover:hover {
                background-color: #fbbf24
            }

            .background--secondary,.background--secondary-hover:hover {
                background-color: #5c9cd1
            }

            .background--tertiary-light,.background--tertiary-light-hover:hover {
                background-color: #ecf1f2
            }

            .background--tertiary-medium,.background--tertiary-medium-hover:hover {
                background-color: #486477
            }

            .background--tertiary-dark,.background--tertiary-dark-hover:hover {
                background-color: #1e2a2d
            }

            .background--overlay-tertiary-dark:before {
                background-color: #1e2a2d;
                opacity: .3
            }

            .background--overlay-gradient-dark-left:before {
                background: linear-gradient(70.41deg,#000 -26.7%,transparent 56.27%),linear-gradient(111.89deg,#030000 20.3%,rgba(3,0,0,0) 55.06%)
            }

            .nuxt-progress {
                background-color: #000;
                height: 2px;
                left: 0;
                opacity: 1;
                position: fixed;
                right: 0;
                top: 0;
                transition: width .1s,opacity .4s;
                width: 0;
                z-index: 999999
            }

            .nuxt-progress.nuxt-progress-notransition {
                transition: none
            }

            .nuxt-progress-failed {
                background-color: red
            }

            .wrap[data-v-f9c455fe] {
                justify-content: space-between;
                min-height: 100%
            }

            .content[data-v-f9c455fe],.main[data-v-f9c455fe],.wrap[data-v-f9c455fe] {
                display: flex;
                flex-direction: column
            }

            .content[data-v-f9c455fe],.main[data-v-f9c455fe] {
                flex-grow: 1
            }

            .wrap[data-v-2dccef2e] {
                left: 0;
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 1000
            }

            header[data-v-2dccef2e] {
                align-items: center;
                display: flex;
                height: 87px;
                position: relative;
                transition: background-color .25s;
                width: 100%
            }

            header.drop-open[data-v-2dccef2e],header.on-white[data-v-2dccef2e] {
                background: #fff;
				
            }

            @media only screen and (min-width: 990px) {
                header[data-v-2dccef2e] {
                    align-items:flex-end;
                    height: 115px
                }
            }

            .lower[data-v-2dccef2e] {
                align-items: center;
                display: flex;
                justify-content: space-between;
                padding: 25px;
                width: 100%
            }

            @media only screen and (min-width: 990px) {
                .lower[data-v-2dccef2e] {
                    align-items:flex-end;
                    justify-content: flex-start;
                    padding: 0 0 0 50px;
                    width: auto
                }
            }

            .upper[data-v-2dccef2e] {
                display: none;
                position: absolute;
                right: 0;
                top: 0
            }

            @media only screen and (min-width: 990px) {
                .upper[data-v-2dccef2e] {
                    display:block
                }
            }

            .notice-spacer[data-v-2dccef2e] {
                background: #fff;
                height: 50px;
                width: 100%
            }

            .breif-case[data-v-2dccef2e] {
                color: #fff;
                display: block
            }

            @media only screen and (min-width: 990px) {
                .breif-case[data-v-2dccef2e] {
                    display:none!important
                }
            }

            .burger[data-v-2dccef2e] {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                height: 18px;
                justify-content: space-between;
                width: 29px
            }

            .burger span[data-v-2dccef2e] {
                background: currentColor;
                border-radius: 2px;
                display: block;
                height: 2px;
                width: 100%
            }

            @media only screen and (min-width: 990px) {
                .burger[data-v-2dccef2e] {
                    display:none
                }
            }

            .logo[data-v-2dccef2e] {
                width: 150px
            }

            @media only screen and (min-width: 990px) {
                .logo[data-v-2dccef2e] {
                    margin-bottom:25px;
                    width: 164px
                }
            }

            .primary-nav[data-v-2dccef2e] {
                display: none
            }

            @media only screen and (min-width: 990px) {
                .primary-nav[data-v-2dccef2e] {
                    display:block
                }
            }

            .primary-nav[data-v-2dccef2e] li {
                padding-bottom: 25px
            }

            .drop[data-v-2dccef2e] {
                left: 0;
                pointer-events: none;
                position: absolute;
                top: 100%;
                width: 100%
            }

            .spacer[data-v-2dccef2e] {
                background: #fff;
                height: 87px;
                width: 100%
            }

            @media only screen and (min-width: 990px) {
                .spacer[data-v-2dccef2e] {
                    height:115px
                }
            }

            .mobile-nav[data-v-599d2d24] {
                box-sizing: border-box;
                height: 100%;
                left: 0;
                overflow: hidden;
                overflow-y: auto;
                position: fixed;
                top: 0;
                transform: translateX(-100%);
                width: 100%;
                z-index: 1001
            }

            @media only screen and (min-width: 990px) {
                .mobile-nav[data-v-599d2d24] {
                    display:none
                }
            }

            .primary-nav[data-v-599d2d24],.secondary-nav[data-v-599d2d24],.sub-nav[data-v-599d2d24] {
                list-style: none;
                margin: 0;
                padding: 0
            }

            .secondary-nav[data-v-599d2d24] {
                margin-top: 40px
            }

            .sub-nav[data-v-599d2d24] {
                margin-top: 20px
            }

            .primary-nav .item[data-v-599d2d24] {
                margin-top: 22px
            }

            .secondary-nav .item[data-v-599d2d24] {
                margin-top: 27px
            }

            .sub-nav .item[data-v-599d2d24] {
                margin-top: 15px
            }

            .search[data-v-599d2d24] {
                display: flex;
                justify-content: flex-start;
                max-width: 300px
            }

            .link[data-v-599d2d24] {
                color: currentColor;
                cursor: pointer;
                font-size: 24px;
                line-height: 1em;
                -webkit-text-decoration: none;
                text-decoration: none
            }

            .link--large[data-v-599d2d24] {
                align-items: flex-end;
                display: flex;
                font-size: 56px;
                font-weight: 700;
                line-height: 1em
            }

            .drop-arrow[data-v-599d2d24] {
                stroke: currentColor;
                stroke-width: 3px;
                stroke-linecap: round;
                stroke-linejoin: round;
                display: inline-block;
                height: .7em;
                margin-left: 20px;
                overflow: visible;
                transition: transform .125s ease-in-out;
                width: 12px
            }

            .item--current .drop-arrow[data-v-599d2d24] {
                transform: rotate(90deg)
            }

            .inner[data-v-599d2d24] {
                padding: 30px
            }

            .close[data-v-599d2d24] {
                cursor: pointer;
                display: block;
                height: 24px;
                position: relative;
                width: 24px
            }

            .close[data-v-599d2d24]:after,.close[data-v-599d2d24]:before {
                background: currentColor;
                border-radius: 2px;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%) rotate(45deg);
                width: 100%
            }

            .close[data-v-599d2d24]:after {
                transform: translate(-50%,-50%) rotate(-45deg)
            }

            .search-form[data-v-467b4dce] {
                position: relative
            }

            .search-form.search-form--full[data-v-467b4dce] {
                width: 100%
            }

            .search-input[data-v-467b4dce] {
                background-color: #fbbf24;
                border: 1px solid #fbbf24;
                border-radius: 90px;
                box-sizing: border-box;
                cursor: pointer;
                display: inline-block;
                height: 100%;
                min-height: 30px;
                outline: none;
                padding: 0 15px;
                transform: translateZ(0);
                transition: width .25s ease-in-out;
                vertical-align: middle;
                width: 45px
            }

            .search-input[data-v-467b4dce]::-moz-placeholder {
                color: #1e2a2d;
                opacity: .8
            }

            .search-input[data-v-467b4dce]::placeholder {
                color: #1e2a2d;
                opacity: .8
            }

            .search-form--large .search-input[data-v-467b4dce] {
                font-size: 24px;
                min-height: 50px;
                padding: 0 20px
            }

            .search-form--active .search-input[data-v-467b4dce] {
                background-color: #fff;
                cursor: auto;
                width: 200px
            }

            .search-form--full .search-input[data-v-467b4dce] {
                width: 100%
            }

            .search-icon[data-v-467b4dce] {
                display: block;
                height: 14px;
                pointer-events: none;
                position: absolute;
                right: 22.5px;
                top: 50%;
                transform: translate(50%,-50%);
                width: 14px
            }

            .search-form--active .search-icon[data-v-467b4dce] {
                pointer-events: all
            }

            .search-form--large .search-icon[data-v-467b4dce] {
                height: 18px;
                right: 29px;
                width: 18px
            }

            .search-icon svg[data-v-467b4dce] {
                stroke-width: 2px;
                stroke: currentColor;
                display: block;
                height: 100%;
                pointer-events: none;
                width: 100%
            }

            a[data-v-1c38f1fe] {
                display: inherit
            }

            .light-theme .primary[data-v-1c38f1fe] {
                color: #fff
            }

            .light-theme .secondary[data-v-1c38f1fe] {
                color: hsla(0,0%,100%,.5)
            }

            .dark-theme .primary[data-v-1c38f1fe] {
                color: #5c9cd1
            }

            .dark-theme .secondary[data-v-1c38f1fe] {
                color: #1e2a2d;
                opacity: .5
            }

            path[data-v-1c38f1fe] {
                fill: currentColor
            }

            .case-wrap[data-v-bf30d5be] {
                display: inline-block;
                position: relative
            }

            .number[data-v-bf30d5be] {
                border-radius: 50%;
                bottom: 0;
                font-size: 11px;
                font-weight: 700;
                height: 15px;
                line-height: 13px;
                position: absolute;
                right: 0;
                text-align: center;
                transform: translate(40%,40%);
                width: 15px
            }

            .button--primary .number[data-v-bf30d5be] {
                color: #fbbf24
            }

            .plus[data-v-bf30d5be] {
                fill: none;
                height: 7px;
                width: 7px;
				padding: 4px;
            }

            .plus path[data-v-bf30d5be] {
                stroke: currentColor;
                stroke-width: 1.5;
                stroke-linecap: round;
                stroke-linejoin: round
            }

            .case[data-v-bf30d5be] {
                fill: none
            }

            .case path[data-v-bf30d5be] {
                stroke: currentColor;
                stroke-width: 1.5;
                stroke-linecap: round;
                stroke-linejoin: round
            }

            ul[data-v-7a99d213] {
                align-items: flex-end;
                display: flex;
                line-height: 1.5em
            }

            .item[data-v-7a99d213] {
                margin-left: 40px
            }

            .light-theme .item[data-v-7a99d213] {
                color: #fff
            }

            .dark-theme .item[data-v-7a99d213] {
                color: #1e2a2d
            }

            .child-list[data-v-7a99d213] {
                font-size: 0;
                height: 0;
                width: 0
            }

            .drop-arrow[data-v-7a99d213] {
                fill: none;
                height: 6px;
                margin-left: 10px;
                transform: translateY(-.2em);
                width: 10px
            }

            .drop-arrow path[data-v-7a99d213] {
                stroke: currentColor;
                stroke-width: 2;
                stroke-linecap: round;
                stroke-linejoin: round
            }

            a[data-v-7a99d213] {
                color: currentColor;
                display: inline-block;
                font-weight: 600;
                margin: 0;
                position: relative;
                -webkit-text-decoration: none;
                text-decoration: none
            }

            a[data-v-7a99d213]:before {
                background: currentColor;
                content: "";
                height: 2px;
                left: 0;
                position: absolute;
                top: calc(100% + 5px);
                transform: scaleX(0);
                transform-origin: left center;
                transition: transform .25s ease-in-out;
                width: 100%
            }

            .dark-theme a[data-v-7a99d213]:before {
                color: #fbbf24
            }

            .light-theme a[data-v-7a99d213]:before {
                color: hsla(0,0%,100%,.5)
            }

            .item--dropping a[data-v-7a99d213]:before,a.nuxt-link-active[data-v-7a99d213]:not(.item--is_hash):before,a[data-v-7a99d213]:hover:before {
                transform: scaleX(1)
            }

            nav[data-v-115fdfea] {
                background: #fff;
                height: 50px;
                padding-left: 30px
            }

            nav[data-v-115fdfea],ul[data-v-115fdfea] {
                align-items: center;
                display: flex
            }

            a[data-v-115fdfea] {
                color: currentColor;
                font-weight: 600;
                line-height: 1em;
                -webkit-text-decoration: none;
                text-decoration: none
            }

            li[data-v-115fdfea] {
                align-items: flex-start;
                border-right: 1px solid;
                display: flex;
                height: 20px;
                margin-right: 15px;
                padding-right: 15px
            }

            li[data-v-115fdfea]:last-child {
                border-right: none
            }

            .mask[data-v-5c2b7697] {
                overflow: hidden;
                pointer-events: none;
                position: relative
            }

            .mask>*[data-v-5c2b7697] {
                pointer-events: all
            }

            .drop-container[data-v-5c2b7697] {
                align-items: stretch;
                background: #fff;
                display: flex;
                opacity: 0;
                overflow: hidden;
                padding: 0 0 50px;
                position: relative;
                transform: translateY(-100%);
                transition: transform .25s ease-in-out,opacity .25s;
                width: 100%
            }

            .on-white .drop-container[data-v-5c2b7697] {
                opacity: 1;
                transition: transform .25s ease-in-out
            }

            .drop-container--hovered[data-v-5c2b7697] {
                opacity: 1;
                transform: translateY(0)
            }

            nav[data-v-5c2b7697] {
                box-sizing: border-box;
                flex-shrink: 0;
                padding: 0 40px 0 50px;
                width: 254px
            }

            .thumbs-scroll[data-v-5c2b7697] {
                margin-bottom: -100px;
                overflow: hidden;
                overflow-x: scroll;
                padding-bottom: 100px
            }

            .thumbs[data-v-5c2b7697] {
                align-items: stretch;
                display: flex;
                flex-grow: 1;
                height: 100%
            }

            .thumbs[data-v-5c2b7697]:after {
                content: "";
                display: block;
                flex-shrink: 0;
                width: 15px
            }

            .thumb[data-v-5c2b7697] {
                background: #ecf1f2;
                background-size: cover;
                flex-shrink: 0;
                margin-right: 15px;
                min-height: 240px;
                position: relative;
                width: 240px
            }

            .thumb[data-v-5c2b7697]:last-child {
                margin-right: 0
            }

            .thumb-content[data-v-5c2b7697] {
                align-items: center;
                background: rgba(92,156,209,.85);
                box-sizing: border-box;
                display: flex;
                height: 100%;
                justify-content: center;
                left: 0;
                opacity: 0;
                padding: 15px;
                position: absolute;
                text-align: center;
                -webkit-text-decoration: none;
                text-decoration: none;
                top: 0;
                transition: opacity .25s;
                width: 100%
            }

            .thumb-content>span[data-v-5c2b7697] {
                transform: translateY(10px);
                transition: .25s ease-in-out
            }

            .thumb--highlighted .thumb-content[data-v-5c2b7697] {
                opacity: 1
            }

            .thumb--highlighted .thumb-content>span[data-v-5c2b7697] {
                transform: translateY(0)
            }

            .link[data-v-5c2b7697] {
                color: currentColor;
                display: inline-block;
                line-height: 2em;
                -webkit-text-decoration: none;
                text-decoration: none
            }

            .link--highlighted[data-v-5c2b7697],.link[data-v-5c2b7697]:hover {
                -webkit-text-decoration: underline;
                text-decoration: underline
            }

            .sections[data-v-b4996216] {
                display: flex;
                flex-direction: column;
                flex-grow: 1
            }

            @media only screen and (min-width: 768px) {
                .hero[data-v-5f543feb] {
                    height:60vh
                }
            }

            @media only screen and (min-width: 1440px) {
                .hero[data-v-5f543feb] {
                    height:55vh
                }
            }

            .winding-arrow__text[data-v-5f543feb] {
                font-size: calc(1.6625rem + 4.95vw);
                line-height: 1em;
                margin-bottom: -.25em;
                margin-top: 174px
            }

            @media(min-width: 1200px) {
                .winding-arrow__text[data-v-5f543feb] {
                    font-size:5.375rem
                }
            }

            .winding-arrow__container[data-v-5f543feb] {
                display: flex;
                flex-direction: column;
                width: 100%
            }

            @media only screen and (min-width: 768px) {
                .winding-arrow__container[data-v-5f543feb] {
                    width:50%
                }
            }

            .winding-arrow__wrap[data-v-5f543feb] {
                align-self: flex-end;
                padding-bottom: 15%;
                position: relative
            }

            @media only screen and (min-width: 768px) {
                .winding-arrow__wrap[data-v-5f543feb] {
                    padding-bottom:10%
                }
            }

            @media only screen and (min-width: 1440px) {
                .winding-arrow__wrap[data-v-5f543feb] {
                    padding-bottom:7%
                }
            }

            .content-container[data-v-5f543feb] {
                align-items: center;
                box-sizing: border-box;
                padding-top: 87px;
                position: relative
            }

            @media only screen and (min-width: 1440px) {
                .content-container[data-v-5f543feb] {
                    padding-top:115px
                }
            }

            .inner[data-v-5f543feb] {
                position: relative
            }

            .content[data-v-5f543feb] {
                padding: 2vw 0 4vw
            }

            .feature-text[data-v-5f543feb] {
                display: flex;
                justify-content: flex-start;
                margin-left: 0;
                transform: translate(-50%) rotate(-90deg);
                transform-origin: left bottom;
                white-space: nowrap
            }

            .background[data-v-5f543feb],.feature-text[data-v-5f543feb] {
                bottom: 0;
                left: 0;
                position: absolute
            }

            .background[data-v-5f543feb] {
                background-size: cover;
                right: 0;
                top: 0
            }

            .background[data-v-5f543feb]:before {
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%
            }

            .background--winding-arrow[data-v-5f543feb]:before {
                background-color: #1e2a2d;
                opacity: .4
            }

            @media only screen and (min-width: 768px) {
                .background--winding-arrow[data-v-5f543feb]:before {
                    opacity:0
                }
            }

            .bard-text[data-v-658c125a] img {
                max-width: 100%
            }

            .min[data-v-6588faee] {
                display: block
            }

            @media only screen and (min-width: 990px) {
                .min[data-v-6588faee] {
                    display:none
                }
            }

            .max[data-v-6588faee] {
                display: none
            }

            @media only screen and (min-width: 990px) {
                .max[data-v-6588faee] {
                    display:block
                }
            }

            .container[data-v-266e8f43] {
                justify-content: center
            }

            .column-container[data-v-266e8f43] {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: relative
            }

            .column-image[data-v-266e8f43] {
                display: block;
                height: 300px;
                max-width: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                width: 100%
            }

            .column-content[data-v-266e8f43] {
                box-sizing: border-box;
                padding: 8% 12%;
                width: 100%
            }

            img[data-v-e3131338] {
                display: block;
                width: 100%
            }

            .caption[data-v-e3131338] {
                margin-top: 10px
            }

            .aside-first[data-v-9f83b542] {
                flex-direction: row-reverse
            }

            .aside[data-v-9f83b542] {
                align-self: center;
                padding: 3.6vw
            }

            .aside--no-pad[data-v-9f83b542] {
                padding: 0
            }

            .aside--stretch[data-v-9f83b542] {
                align-self: stretch
            }

            .banner[data-v-9f83b542] {
                align-items: flex-end;
                background-size: cover;
                display: flex
            }

            .banner__content-v-align--top[data-v-9f83b542] {
                align-items: flex-start
            }

            .banner__content-v-align--center[data-v-9f83b542] {
                align-items: center
            }

            .banner__content-v-align--bottom[data-v-9f83b542] {
                align-items: flex-end
            }

            .banner__content-h-align--left[data-v-9f83b542] {
                justify-content: flex-start
            }

            .banner__content-h-align--center[data-v-9f83b542] {
                justify-content: center
            }

            .banner__content-h-align--right[data-v-9f83b542] {
                justify-content: flex-end
            }

            .banner__wrap[data-v-9f83b542] {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                padding: 3.6vw 0
            }

            @media only screen and (min-width: 1440px) {
                .banner__wrap[data-v-9f83b542] {
                    max-width:74.5%
                }
            }

            .banner__buttons[data-v-9f83b542],.banner__content[data-v-9f83b542],.banner__title[data-v-9f83b542] {
                padding: 0 3.6vw
            }

            .banner__title[data-v-9f83b542] {
                max-width: 430px
            }

            .banner__title+*[data-v-9f83b542] {
                margin-top: 25px
            }

            @media only screen and (min-width: 1440px) {
                .banner__title[data-v-9f83b542] {
                    max-width:none;
                    width: 67.11%
                }
            }

            .banner__content[data-v-9f83b542] {
                background-size: cover;
                box-sizing: border-box
            }

            .banner__content+*[data-v-9f83b542] {
                margin-top: 35px
            }

            .banner__spacer[data-v-9f83b542] {
                margin-right: -1px;
                width: 1px
            }

            .buttons[data-v-7434f5e3] {
                margin: -8px
            }

            .button[data-v-7434f5e3] {
                margin: 8px
            }

            .container[data-v-b7940668] {
                align-items: center;
                flex-direction: row-reverse
            }

            @media only screen and (min-width: 768px) {
                .reverse[data-v-b7940668] {
                    flex-direction:row
                }
            }

            .content[data-v-b7940668] {
                display: flex;
                justify-content: center
            }

            .content>*[data-v-b7940668] {
                max-width: 100%
            }

            @media only screen and (min-width: 990px) {
                .content[data-v-b7940668] {
                    padding:0 7vw 0 0
                }

                .reverse .content[data-v-b7940668] {
                    padding: 0 0 0 7.5vw
                }
            }

            @media only screen and (min-width: 1440px) {
                .content[data-v-b7940668],.reverse .content[data-v-b7940668] {
                    padding:0 7.5vw
                }
            }

            @media only screen and (min-width: 1690px) {
                .content[data-v-b7940668],.reverse .content[data-v-b7940668] {
                    padding:0 126.6666666667px
                }
            }

            .feature__inner[data-v-b7940668] {
                align-self: stretch;
                display: flex;
                max-height: 50vh;
                position: relative;
                width: 100%
            }

            @media only screen and (min-width: 990px) {
                .feature__inner[data-v-b7940668] {
                    max-height:none
                }
            }

            .feature[data-v-b7940668] {
                align-self: stretch;
                display: flex;
                flex-wrap: wrap;
                position: relative
            }

            @media only screen and (min-width: 990px) {
                .feature[data-v-b7940668] {
                    flex-wrap:nowrap
                }
            }

            .feature--align-stretch[data-v-b7940668] {
                align-self: stretch
            }

            .feature--align-top[data-v-b7940668] {
                align-self: flex-start
            }

            .feature--align-bottom[data-v-b7940668] {
                align-self: flex-end
            }

            .feature--align-center[data-v-b7940668] {
                align-self: center
            }

            .feature__map[data-v-b7940668] {
                flex-grow: 1
            }

            .feature__image[data-v-b7940668] {
                background-size: cover;
                flex-grow: 1
            }

            .feature__caption[data-v-b7940668] {
                margin-top: 5px;
                position: relative;
                width: 100%
            }

            .feature__caption[data-v-b7940668]>p {
                font-size: 14px
            }

            @media only screen and (min-width: 768px) {
                .feature__caption[data-v-b7940668] {
                    bottom:0;
                    left: 0;
                    position: absolute;
                    transform: translateY(100%)
                }
            }

            .feature__filler[data-v-b7940668] {
                background: #ecf1f2;
                flex-grow: 1
            }

            .feature__spacer[data-v-b7940668] {
                display: block;
                margin-right: -1px;
                max-height: 50vh;
                width: 1px
            }

            @media only screen and (min-width: 768px) {
                .feature__spacer[data-v-b7940668] {
                    max-height:none
                }
            }

            .entry[data-v-afbdf6a2] {
                background-size: cover;
                display: block;
                max-height: 380px;
                position: relative
            }

            .entry__spacer[data-v-afbdf6a2] {
                padding-bottom: 120%
            }

            @media only screen and (min-width: 768px) {
                .entry__spacer[data-v-afbdf6a2] {
                    padding-bottom:140%
                }
            }

            @media only screen and (min-width: 1440px) {
                .entry__spacer[data-v-afbdf6a2] {
                    padding-bottom:160%
                }
            }

            .entry__content[data-v-afbdf6a2] {
                align-items: flex-end;
                background-color: rgba(0,0,0,.25);
                bottom: 0;
                color: #fff;
                display: flex;
                left: 0;
                padding: 20px;
                position: absolute;
                right: 0;
                top: 0;
                transition: background-color .25s
            }

            .entry:hover .entry__content[data-v-afbdf6a2] {
                background-color: transparent
            }

            .entry__title[data-v-afbdf6a2] {
                transform: translateY(0);
                transition: transform .25s ease-in-out,opacity .25s
            }

            .entry:hover .entry__title[data-v-afbdf6a2] {
                opacity: 0;
                transform: translateY(20px)
            }

            @media only screen and (max-width: 989px) {
                .entry--text-feature[data-v-afbdf6a2] {
                    max-height:200px
                }
            }

            .container[data-v-8a299f4c] {
                justify-content: center
            }

            .content[data-v-8a299f4c] {
                margin-bottom: 1.77777em
            }

            .special-text[data-v-43bfbe0a] {
                align-items: center;
                display: flex
            }

            .text--align-center .special-text[data-v-43bfbe0a] {
                justify-content: center
            }

            .text--align-right .special-text[data-v-43bfbe0a] {
                justify-content: flex-end
            }

            .icon[data-v-43bfbe0a] {
                fill: currentColor;
                margin-right: .5em;
                max-height: 1.5em;
                max-width: 1.5em
            }

            footer[data-v-b8f25348] {
                background: #1e2a2d;
                color: #fff;
                display: flex;
                flex-direction: column;
                padding: 45px 25px
            }

            @media only screen and (min-width: 768px) {
                footer[data-v-b8f25348] {
                    flex-direction:row;
                    padding: 50px
                }
            }

            .contact[data-v-b8f25348] {
                margin-top: 25px
            }

            @media only screen and (min-width: 768px) {
                .contact[data-v-b8f25348] {
                    margin-top:10px
                }
            }

            .copyright[data-v-b8f25348] {
                margin-top: 30px
            }

            @media only screen and (min-width: 768px) {
                .copyright[data-v-b8f25348] {
                    margin-top:20px
                }
            }

            .info[data-v-b8f25348] {
                font-size: 14px;
                margin-bottom: 40px;
                max-width: 390px
            }

            @media only screen and (min-width: 768px) {
                .info[data-v-b8f25348] {
                    margin-bottom:25px;
                    margin-right: 25px
                }
            }

            .navigations[data-v-b8f25348] {
                align-items: flex-start;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: space-between;
                max-width: 390px;
				background-color:#1e2a2d; 
            }

            @media only screen and (min-width: 768px) {
                .navigations[data-v-b8f25348] {
                    align-items:flex-end;
                    max-width: none
                }
            }

            .social-navigation[data-v-b8f25348] {
                margin-top: 45px
            }

            @media only screen and (min-width: 768px) {
                .social-navigation[data-v-b8f25348] {
                    margin-top:0
                }
            }

            ul[data-v-12a622c6] {
                -moz-column-count: 2;
                column-count: 2
            }

            @media only screen and (min-width: 768px) {
                ul[data-v-12a622c6] {
                    display:flex;
                    flex-wrap: wrap;
                    justify-content: flex-end
                }

                li[data-v-12a622c6] {
                    margin-left: 25px
                }

                li[data-v-12a622c6]:first-child {
                    margin-left: 0
                }
            }

            a[data-v-12a622c6] {
                color: currentColor;
                -webkit-text-decoration: none;
                text-decoration: none
            }

            ul[data-v-32cd023e] {
                display: flex
            }

            li[data-v-32cd023e] {
                margin-right: 15px
            }

            li[data-v-32cd023e]:last-child {
                margin-right: 0
            }

            a[data-v-32cd023e] {
                color: #fff;
                transition: color .125s ease-in-out
            }

            a[data-v-32cd023e]:hover {
                color: #fbbf24
            }

            a svg[data-v-32cd023e] {
                fill: currentColor;
                height: 40px;
                width: 40px
            }

            @media only screen and (min-width: 768px) {
                .back-to-top-button[data-v-98efbc1e] {
                    bottom:50px;
                    right: 30px
                }
            }


            .arrow[data-v-98efbc1e] {
                stroke-width: 2px;
                stroke: currentColor;
                fill: currentColor;
                height: 20px;
                position: relative;
                transform-origin: 50% 50%;
                transition: transform .125s ease-in-out;
                width: 20px
            }
			.color-change-button {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			padding: 15px;
			border: 0px;
            background-color: #ffffff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: background-color 0.3s ease;
        }

        .color-change-button:hover {
            background-color: #ffc20e;
        }

        .button-tripadvisor {
            width: 24px;
            height: 15px;
        }
		.button-facebook {
            width: 40px;
            height: 40px;
        }
		.button-twitter {
            width: 50px;
            height: 50px;
        }
		.button-youtube {
            width: 25px;
            height: 25px;
        }
		.button-instagram {
            width: 25px;
            height: 25px;
        }
		 #searchQuery {
            width: 200px;
            padding: 10px 10px 10px 10px;
            border: 2px solid #ffc20e;
            border-radius: 0%;
            font-size: 16px;
        }